
#draggable-reference-form tr.parent-title-none td {
    font-weight: bold;
}
#draggable-reference-form tr.parent-message {
    font-weight: normal;
    color: #555;
}
#draggable-reference-form tr.parent-populated {
    display: none;
}
